name: 'Generate document'
on:
  push:
    branches: [ main ]
defaults:
  run:
    working-directory: .
jobs:
  build_deploy:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Tex to PDF
        uses: ./actions/xelatex
        env:
          OUT_DIR: public

      - name: Download artifacts
        uses: actions/upload-artifact@v2
        with:
          name: files
          path: public/